# Ignore the data directory
data/

# Ignore .ipynb_checkpoints directory
.ipynb_checkpoints/
Notebooks/.ipynb_checkpoints/

# Ignore node_modules
node_app/node_modules/

# Ignore env.js 
node_app/config/env.js