<h2>{{ table.toUpperCase() }}</h2>
<mat-progress-bar
      *ngIf="isLoading$ | async"
      mode="buffer"
      style="position: absolute;"
    ></mat-progress-bar>


<form [formGroup]="myForm" (ngSubmit)="filterHandler()">
    <div class="show-filter">
      <p>Applied Filters: <em>{{showFilter()}}</em></p>
    </div>
    <button mat-raised-button color="success" [disabled]="!allFieldsEntered()">Submit Filter<mat-icon>search</mat-icon></button>
  <hr>

<div formArrayName="filters" class="filter-fields-container">
  <div *ngFor="let filter of filterForms.controls; let i=index" [formGroupName]="i">

    <mat-form-field appearance="fill">
      <mat-label>Column</mat-label>
      <mat-select name="column" formControlName="column">
        <mat-option *ngFor="let column of columns" [value]="column.toUpperCase()" [disabled]="isAlreadySelectedColumn(i, column)">
          {{column}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field appearance="fill" *ngIf="isColumnSelected(i)">
      <mat-label>Operator</mat-label>
      <mat-select name="operator" formControlName="operator">
        <mat-option *ngFor="let operator of getOperators(i)" [value]="operator">
          {{operator}}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <mat-form-field class="example-chip-list" appearance="fill" *ngIf="isColumnSelected(i)">
      <mat-label>Values to filter</mat-label>
      <mat-chip-list #chipList aria-label="Filter selection" formArrayName="values">
        <mat-chip *ngFor="let filter of valuesArray[i].value" (removed)="remove(i, filter)">
          {{filter.name}}
          <button matChipRemove>
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>

        <input
          [disabled]="['<', '<=', '>', '>=', '=', 'starts with', 'ends with', 'contains'].includes(getSelectedOperator(i)) && getNumberOfValuesEnterd(i) > 0"
          [matChipInputFor]="chipList"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="addOnBlur"
          (matChipInputTokenEnd)="add(i, $event)">
      </mat-chip-list>
    </mat-form-field>
  </div>
</div>
<!--
  <mat-form-field appearance="fill" *ngFor="let field of getArrayFields(filterFields)">
    <input matInput [placeholder]="field.toUpperCase()" [formControlName]="field">
  </mat-form-field> -->

  <button
    mat-stroked-button color="primary"
    [disabled]="!allFieldsEntered()"
    (click)="addFilter()">Add Another Filter
    <mat-icon>add_box</mat-icon>
  </button>

</form>
